---
import CharacterTypeSelector from "../components/CharacterTypeSelector.astro";
import GenerateButton from "../components/GenerateButton.astro";
import Info from "../components/Info.astro";
import InfoModal from "../components/InfoModal.astro";
import OutputPass from "../components/OutputPass.astro";
import PasswordStats from "../components/PasswordStats.astro";
import Slider from "../components/Slider.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Password Generator">
  <Info />
  <InfoModal />
  <main
    class="mt-14 sm:mt-0 p-4 w-full max-w-2xl text-xl leading-6 font-mono text-custom border-1 border-foreground"
  >
    <h1 class="text-4xl font-semibold">Password Generator</h1>
    <h2 class="text-sm text-custom-muted mb-4">
      Generate a secure password customized for your needs!
    </h2>
    <div class="grid grid-cols-1 gap-2 items-center grid-flow-row">
      <OutputPass class:list={"row-start-1"} />
      <Slider class:list={"row-start-2"} />
      <CharacterTypeSelector class:list={"row-start-3"} />
      <PasswordStats class:list={"row-start-4"} />
      <GenerateButton class:list={"row-start-5 mt-4"} />
    </div>
  </main>
</Layout>

<script src="../scripts/main.js"></script>
