---
interface Props {
  extraClass?: string;
}

const { extraClass } = Astro.props;
---

<div class={extraClass}>
  <p class="text-lg">Password Stats:</p>
  <div
    class="grid grid-cols-1 sm:grid-cols-3 gap-2 justify-center items-center text-nowrap"
  >
    <div class="flex flex-col gap-1">
      <p class="text-sm font-medium">How long to crack:</p>
      <p class="font-extrabold"><span id="crackTime"></span></p>
    </div>
    <div class="flex flex-col gap-1">
      <p class="text-sm font-medium">Entropy:</p>
      <p class="font-extrabold"><span id="entropy"></span> bits</p>
    </div>
    <div class="flex flex-col gap-1">
      <p class="text-sm font-medium">Score:</p>
      <p class="font-extrabold"><span id="passwordScore"></span></p>
    </div>
  </div>
</div>
