---

---

<div class={`w-full relative mb-6 my-4`}>
  <label class="block mb-2 text-sm font-medium text-custom" for="passLength"
    >Password Length: <span id="cantChars">28</span>
  </label>

  <input
    class="accent-foreground active:accent-custom w-full h-2 rounded-lg appearance-none hover:cursor-pointer active:cursor-grabbing bg-primary-hover"
    oninput="sliderChange(event)"
    type="range"
    name="passLength"
    id="passLength"
    min="6"
    max="50"
  />
  <span class="select-none text-sm absolute start-0 -bottom-6">6</span>
  <span
    class="select-none text-sm absolute start-1/2 -translate-x-1/2 rtl:translate-x-1/2 -bottom-6"
    >28</span
  >
  <span class="select-none text-sm absolute end-0 -bottom-6">50</span>
</div>
